import TranslatorTemplate from "@/components/TranslatorTemplate/TranslatorTemplate";
import data from '@/data/{CapitalizedLang}/interpreter';

const {CapitalizedLang}Interpreter = () => {
  return (
    <TranslatorTemplate data={data}/>
  );
};

export default {CapitalizedLang}Interpreter;
