import TranslatorTemplate from "@/components/TranslatorTemplate/TranslatorTemplate";
import data from '@/data/{CapitalizedLang}/translator';

const {CapitalizedLang}Translator = () => {
  return (
    <TranslatorTemplate data={data}/>
  );
};

export default {CapitalizedLang}Translator;
